In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from datascience import *
from pprint import pprint
import skimage as ski
import skimage.transform as sktrans
import skimage.io as skio
sns.set()

In [3]:
!ls

02-prediction.ipynb format_one.tsv      format_two.tsv

In [4]:
!head format_two.tsv

Anon Student Id	r0	r1	r2	r3	r4	r5
Stu_02ee1b3f31a6f6a7f4b8012298b2395e	1	1	0	1	1	1
Stu_1afbee9e3e83bb801b589108fb46028a	1	1	1	1	1	1
Stu_1b394ff128c045b7d4ad4f6e83933b72	1	1	1	1	1	1
Stu_1d6b91d4b593d7e4f5622275b3295663	1	0	1	1	0	0
Stu_2ebe6a7530ff11f2c0b9b807faf0a0a3	1	1	1	1	1	1
Stu_4e8a5be7f2663d2ccccfb59c684d5452	0	0	1	0	0	1
Stu_58d8c63d6e15a65f05b2e59e0a285d8f	1	0	1	1	1	1
Stu_671ccc3ef2c091b6b6d76b34e3d19a8f	1	1	1	1	1	1
Stu_706a76f06dfa563c7ea573d994ca5405	1	1	1	1	1	1

In [7]:
!head format_two_r5_prediction.tsv

Anon Student Id	r5
Stu_02ee1b3f31a6f6a7f4b8012298b2395e	0
Stu_1afbee9e3e83bb801b589108fb46028a	0
Stu_1b394ff128c045b7d4ad4f6e83933b72	0
Stu_1d6b91d4b593d7e4f5622275b3295663	0
Stu_2ebe6a7530ff11f2c0b9b807faf0a0a3	0
Stu_4e8a5be7f2663d2ccccfb59c684d5452	0
Stu_58d8c63d6e15a65f05b2e59e0a285d8f	0
Stu_671ccc3ef2c091b6b6d76b34e3d19a8f	0
Stu_706a76f06dfa563c7ea573d994ca5405	0

In [8]:
df = pd.read_csv('format_two.tsv', delimiter='\t')
df.head()

                        Anon Student Id  r0  r1  r2  r3  r4  r5
0  Stu_02ee1b3f31a6f6a7f4b8012298b2395e   1   1   0   1   1   1
1  Stu_1afbee9e3e83bb801b589108fb46028a   1   1   1   1   1   1
2  Stu_1b394ff128c045b7d4ad4f6e83933b72   1   1   1   1   1   1
3  Stu_1d6b91d4b593d7e4f5622275b3295663   1   0   1   1   0   0
4  Stu_2ebe6a7530ff11f2c0b9b807faf0a0a3   1   1   1   1   1   1

In [9]:
df[['r0', 'r1', 'r2', 'r3', 'r4', 'r5']]

    r0  r1  r2  r3  r4  r5
0    1   1   0   1   1   1
1    1   1   1   1   1   1
2    1   1   1   1   1   1
3    1   0   1   1   0   0
4    1   1   1   1   1   1
5    0   0   1   0   0   1
6    1   0   1   1   1   1
7    1   1   1   1   1   1
8    1   1   1   1   1   1
9    0   1   1   1   1   1
10   1   1   1   1   1   1
11   1   1   1   1   1   1
12   1   1   1   1   1   1
13   1   1   1   1   0   1
14   0   1   0   1   0   1
15   1   1   1   1   1   1
16   1   1   0   1   1   0
17   1   1   1   1   1   1
18   1   1   1   1   1   1
19   0   0   0   1   0   0
20   1   1   1   1   1   1
21   1   0   1   1   1   0
22   1   0   1   1   1   0
23   1   1   1   1   1   1
24   1   1   1   1   1   1
25   1   1   1   1   1   1
26   1   1   1   1   1   1
27   1   1   1   0   1   1
28   0   1   1   1   1   1